/* layer: preflights */
*,
::before,
::after {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgb(147 197 253 / 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia: ;
}
::backdrop {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-shadow: 0 0 rgb(0 0 0 / 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgb(0 0 0 / 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgb(147 197 253 / 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia: ;
}
/* layer: icons */
.i-iconamoon-profile {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linejoin='round' d='M4 18a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2Z'/%3E%3Ccircle cx='12' cy='7' r='3'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-line-md-chevron-left {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-dasharray='12' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 12l7 -7M8 12l7 7'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.4s' values='12;0'/%3E%3C/path%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-line-md-home {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath stroke-dasharray='18' d='M4.5 21.5h15'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.3s' values='18;0'/%3E%3C/path%3E%3Cpath stroke-dasharray='16' stroke-dashoffset='16' d='M4.5 21.5v-13.5M19.5 21.5v-13.5'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.3s' dur='0.3s' to='0'/%3E%3C/path%3E%3Cpath stroke-dasharray='28' stroke-dashoffset='28' d='M2 10l10 -8l10 8'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.6s' dur='0.4s' to='0'/%3E%3C/path%3E%3Cpath stroke-dasharray='26' stroke-dashoffset='26' d='M9.5 21.5v-9h5v9'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.9s' dur='0.6s' to='0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-line-md-home-md-alt-twotone {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-opacity='0' d='M10 14h4v6h-4Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='1.4s' dur='0.15s' to='.3'/%3E%3C/path%3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cg stroke-dasharray='16'%3E%3Cpath d='M5 21h14'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.3s' values='16;0'/%3E%3C/path%3E%3Cpath stroke-dashoffset='16' d='M5 21v-13M19 21v-13'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.3s' dur='0.3s' to='0'/%3E%3C/path%3E%3C/g%3E%3Cpath stroke-dasharray='24' stroke-dashoffset='24' d='M9 21v-8h6v8'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.6s' dur='0.5s' to='0'/%3E%3C/path%3E%3Cpath stroke-dasharray='28' stroke-dashoffset='28' d='M2 10l10 -8l10 8'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' begin='0.8s' dur='0.6s' to='0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-mdi-card {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M20 20H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-mdi-cog {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M12 15.5A3.5 3.5 0 0 1 8.5 12A3.5 3.5 0 0 1 12 8.5a3.5 3.5 0 0 1 3.5 3.5a3.5 3.5 0 0 1-3.5 3.5m7.43-2.53c.04-.32.07-.64.07-.97s-.03-.66-.07-1l2.11-1.63c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.31-.61-.22l-2.49 1c-.52-.39-1.06-.73-1.69-.98l-.37-2.65A.506.506 0 0 0 14 2h-4c-.25 0-.46.18-.5.42l-.37 2.65c-.63.25-1.17.59-1.69.98l-2.49-1c-.22-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64L4.57 11c-.04.34-.07.67-.07 1s.03.65.07.97l-2.11 1.66c-.19.15-.25.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1.01c.52.4 1.06.74 1.69.99l.37 2.65c.04.24.25.42.5.42h4c.25 0 .46-.18.5-.42l.37-2.65c.63-.26 1.17-.59 1.69-.99l2.49 1.01c.22.08.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64z'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-tabler-chevron-left {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m15 6l-6 6l6 6'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-tabler-chevron-right {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m9 6l6 6l-6 6'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-tabler-message-circle-question {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M15.02 19.52c-2.341.736-5 .606-7.32-.52L3 20l1.3-3.9C1.976 12.663 2.874 8.228 6.4 5.726c3.526-2.501 8.59-2.296 11.845.48c1.649 1.407 2.575 3.253 2.742 5.152M19 22v.01'/%3E%3Cpath d='M19 19a2.003 2.003 0 0 0 .914-3.782a1.98 1.98 0 0 0-2.414.483'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-tabler-plus {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 5v14m-7-7h14'/%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
.i-tabler-settings {
  --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' display='inline-block' vertical-align='middle' width='1.5em' height='1.5em' xmlns='http://www.w3.org/2000/svg' %3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066-2.573c-.94-1.543.826-3.31 2.37-2.37c1 .608 2.296.07 2.572-1.065'/%3E%3Cpath d='M9 12a3 3 0 1 0 6 0a3 3 0 0 0-6 0'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
}
/* layer: default */
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative,
[relative=""] {
  position: relative;
}
.inset-0 {
  inset: 0;
}
.bottom-18 {
  bottom: 144px;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.right-4 {
  right: 32px;
}
.top-\[-999px\] {
  top: -999px;
}
.top-0 {
  top: 0;
}
.z-50,
[z-50=""] {
  z-index: 50;
}
.z-800 {
  z-index: 800;
}
.m-0 {
  margin: 0;
}
.mx-2,
[mx-2=""] {
  margin-left: 16px;
  margin-right: 16px;
}
.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-6 {
  margin-bottom: 48px;
}
.ml-2 {
  margin-left: 16px;
}
.mr-1 {
  margin-right: 8px;
}
.mr-10px {
  margin-right: 10px;
}
.mr-2 {
  margin-right: 16px;
}
.mr-4,
[mr-4=""] {
  margin-right: 32px;
}
.mr-6,
[mr-6=""] {
  margin-right: 48px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-6 {
  margin-top: 48px;
}
.block,
[block=""] {
  display: block;
}
.hidden {
  display: none;
}
.size-10,
[size-10=""] {
  width: 80px;
  height: 80px;
}
.size-12,
[size-12=""] {
  width: 96px;
  height: 96px;
}
.size-5 {
  width: 40px;
  height: 40px;
}
.h-1 {
  height: 8px;
}
.h-12,
[h-12=""] {
  height: 96px;
}
.h-4,
[h-4=""] {
  height: 32px;
}
.h-6,
[h-6=""] {
  height: 48px;
}
.h-8 {
  height: 64px;
}
.h-full {
  height: 100%;
}
.max-w-md {
  max-width: 896px;
}
.min-h-screen {
  min-height: 100vh;
}
.w-12,
[w-12=""] {
  width: 96px;
}
.w-4,
[w-4=""] {
  width: 32px;
}
.w-8 {
  width: 64px;
}
.w-full {
  width: 100%;
}
.flex,
[flex=""] {
  display: flex;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.active\:scale-95:active {
  --un-scale-x: 0.95;
  --un-scale-y: 0.95;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
    skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
[active\:scale-95=""]:active {
  --un-scale-x: 0.95;
  --un-scale-y: 0.95;
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
    skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.transform,
[transform=""] {
  transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
    rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
    skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
    scaleZ(var(--un-scale-z));
}
.cursor-pointer {
  cursor: pointer;
}
.items-center,
[items-center=""] {
  align-items: center;
}
.justify-center,
[justify-center=""] {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.gap-2,
[gap-2=""] {
  gap: 16px;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --un-space-x-reverse: 0;
  margin-left: calc(16px * calc(1 - var(--un-space-x-reverse)));
  margin-right: calc(16px * var(--un-space-x-reverse));
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --un-space-x-reverse: 0;
  margin-left: calc(32px * calc(1 - var(--un-space-x-reverse)));
  margin-right: calc(32px * var(--un-space-x-reverse));
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(8px * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(8px * var(--un-space-y-reverse));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(16px * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(16px * var(--un-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(32px * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(32px * var(--un-space-y-reverse));
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --un-space-y-reverse: 0;
  margin-top: calc(48px * calc(1 - var(--un-space-y-reverse)));
  margin-bottom: calc(48px * var(--un-space-y-reverse));
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.border-2 {
  border-width: 2px;
}
.border-white {
  --un-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--un-border-opacity));
}
.rounded,
[rounded=""] {
  border-radius: 8px;
}
.rounded-2xl {
  border-radius: 32px;
}
.rounded-3xl {
  border-radius: 48px;
}
.rounded-full,
[rounded-full=""] {
  border-radius: 9999px;
}
.rounded-xl {
  border-radius: 24px;
}
.rounded-b-3xl {
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
}
.rounded-t-2xl {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.bg-black {
  --un-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--un-bg-opacity)) /* #000 */;
}
.bg-gray-1,
.bg-gray-100 {
  background-color: var(--gray-1) /* var(--gray-1) */;
}
.bg-gray-200,
[bg-gray-200=""] {
  background-color: var(--gray-2) /* var(--gray-2) */;
}
.bg-gray-50 {
  --un-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--un-bg-opacity)) /* #f9fafb */;
}
.bg-primary-1 {
  background-color: var(--primary-color-1) /* var(--primary-color-1) */;
}
.bg-primary-5 {
  background-color: var(--primary-color-5) /* var(--primary-color-5) */;
}
.bg-primary-6,
[bg-primary-6=""] {
  background-color: var(--primary-color-6) /* var(--primary-color-6) */;
}
.bg-white {
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity)) /* #fff */;
}
.bg-white\/60 {
  background-color: rgb(255 255 255 / 0.6) /* #fff */;
}
.hover\:bg-gray-200:hover {
  background-color: var(--gray-2) /* var(--gray-2) */;
}
.bg-opacity-10 {
  --un-bg-opacity: 0.1;
}
.bg-opacity-70 {
  --un-bg-opacity: 0.7;
}
.bg-opacity-80 {
  --un-bg-opacity: 0.8;
}
.p-\[2px\] {
  padding: 2px;
}
.p-1,
[p-1=""] {
  padding: 8px;
}
.p-2 {
  padding: 16px;
}
.p-3 {
  padding: 24px;
}
.p-4 {
  padding: 32px;
}
.p-6 {
  padding: 48px;
}
.px,
.px-4,
[px=""] {
  padding-left: 32px;
  padding-right: 32px;
}
.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}
.py-2,
[py-2=""] {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pb-8 {
  padding-bottom: 64px;
}
.pl-4 {
  padding-left: 32px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-2xl,
[text-2xl=""] {
  font-size: 48px;
  line-height: 64px;
}
.text-base,
[text-base=""] {
  font-size: var(--font-size-base);
  line-height: 1;
}
.text-lg,
[text-lg=""] {
  font-size: var(--font-size-lg);
  line-height: 1;
}
.text-sm {
  font-size: var(--font-size-sm);
  line-height: 1;
}
.text-xl {
  font-size: 40px;
  line-height: 56px;
}
.text-xs {
  font-size: var(--font-size-xs);
  line-height: 1;
}
.text-\[\#232323\] {
  --un-text-opacity: 1;
  color: rgb(35 35 35 / var(--un-text-opacity)) /* #232323 */;
}
.text-blue-500 {
  color: var(--blue-5) /* var(--blue-5) */;
}
.text-emerald-600 {
  --un-text-opacity: 1;
  color: rgb(5 150 105 / var(--un-text-opacity)) /* #059669 */;
}
.text-gray-300 {
  color: var(--gray-3) /* var(--gray-3) */;
}
.text-gray-400 {
  color: var(--gray-4) /* var(--gray-4) */;
}
.text-gray-500 {
  color: var(--gray-5) /* var(--gray-5) */;
}
.text-gray-600 {
  color: var(--gray-6) /* var(--gray-6) */;
}
.text-gray-700 {
  color: var(--gray-7) /* var(--gray-7) */;
}
.text-gray-800 {
  color: var(--gray-8) /* var(--gray-8) */;
}
.text-green-500 {
  color: var(--green-5) /* var(--green-5) */;
}
.text-indigo-600 {
  --un-text-opacity: 1;
  color: rgb(79 70 229 / var(--un-text-opacity)) /* #4f46e5 */;
}
.text-primary-5 {
  color: var(--primary-color-5) /* var(--primary-color-5) */;
}
.text-primary-6,
[text-primary-6=""] {
  color: var(--primary-color-6) /* var(--primary-color-6) */;
}
.text-purple-500 {
  --un-text-opacity: 1;
  color: rgb(168 85 247 / var(--un-text-opacity)) /* #a855f7 */;
}
.text-text {
  color: var(--text-color) /* var(--text-color) */;
}
.text-white,
[text-white=""] {
  --un-text-opacity: 1;
  color: rgb(255 255 255 / var(--un-text-opacity)) /* #fff */;
}
.font-400,
.font-normal {
  font-weight: 400;
}
.font-bold,
[font-bold=""] {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.leading-sm {
  line-height: var(--line-height-sm);
}
.underline {
  text-decoration-line: underline;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.active\:opacity-75:active {
  opacity: 0.75;
}
.shadow-lg,
[shadow-lg=""] {
  --un-shadow:
    var(--un-shadow-inset) 0 10px 15px -3px var(--un-shadow-color, rgb(0 0 0 / 0.1)),
    var(--un-shadow-inset) 0 4px 6px -4px var(--un-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
.shadow-md {
  --un-shadow:
    var(--un-shadow-inset) 0 4px 6px -1px var(--un-shadow-color, rgb(0 0 0 / 0.1)),
    var(--un-shadow-inset) 0 2px 4px -2px var(--un-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
.shadow-sm {
  --un-shadow: var(--un-shadow-inset) 0 1px 2px 0 var(--un-shadow-color, rgb(0 0 0 / 0.05));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow), var(--un-shadow);
}
.backdrop-blur-md {
  --un-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast)
    var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity)
    var(--un-backdrop-saturate) var(--un-backdrop-sepia);
  backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast)
    var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity)
    var(--un-backdrop-saturate) var(--un-backdrop-sepia);
}
.transition {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-transform,
[transition-transform=""] {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.ease,
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.will-change-transform {
  will-change: transform;
}
